.profile {
  max-width: 250px;
  text-align: center;
  background-color: #f1f1f1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 10px 0 0 0;
  margin-right: auto;
  margin-left: auto;
}

.description {
  padding-bottom: 20px;
}
.avatar {
  border-radius: 50%;
  margin-bottom: 15px;
  width: 130px;
}
.name {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
}
.tag,
.location {
  font-size: 14px;
  margin-bottom: 5px;
  color: #b2b7c4;
}
.stats {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 14px;
  justify-content: space-evenly;
  list-style-type: none;
  background-color: #dce3f3;
}
.stats li {
  border: #c6cbdb 0.5px solid;
  border-left: 0;
  width: 100px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stats li span:first-child {
  color: #697188;
  margin-bottom: 5px;
}
.stats li span:last-child {
  font-weight: 700;
}
