.statistics {
  text-align: center;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  margin: 0;
  padding: 0;
  height: 80px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
  line-height: 60px;
  background-color: #f1f1f1;
  color: #555d6b;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.statList {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  color: #555d6b;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.item {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
